body {
	color: black
}

.day {
	border: 1px solid black;
	height: 5em;
	text-align: center;
}

.head {
	margin-top: 2em;
	margin-bottom: 2em;
}

.cya {
	color: white;
}

.header {
	height: 100%;
}

samp, h1 {
	display: inline;
}

h5 {
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 3em;
}

.not {
	background-color: black;
	color: black;
}

.moon {
	width: 100%;
	padding: .2em;
}

img {
	width: 100%;
}

p {
	font-size: 3em;
	margin: 0;
}

.heart {
	width: 10%;
	height: auto;
	display: inline;
	margin-top: -3em;
}



