.day {
	border: thin solid black;
	height: 5em;
	text-align: center;
}

h5 {
	font-size: 3em;
}

.not {
	background-color: black;
	color: black;
}

.moon {
	width: 100%;
	padding: .2em;
}

img {
	width: 100%;
}

p {
	font-size: 3em;
}